body{
    background-color: grey;
    text-align: center;
}
.sor{
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
}
.sor>div{
    border: 1px black solid;
    width: 250px;
    height: 100px;
    text-align: center;
    background-color: azure;
}
button{
    color: white;
    background-color: darkgreen;
}